<form action="javascript:;" method="post">
	<div class="px2-p">
		<table class="px2-table px2-table--dl">
			<tbody>
				<tr data-form-column-name="themeId">
					<th>テーマID</th>
					<td>
						<div>{{ themeId }}</div>
					</td>
				</tr>
				<tr data-form-column-name="layoutId">
					<th>レイアウトID</th>
					<td>
						<div>{{ layoutId }}</div>
					</td>
				</tr>
				<tr data-form-column-name="editMode">
					<th>編集方法</th>
					<td>
						<div><label><input type="radio" name="editMode" value="html.gui" /> ブロックエディタ</label></div>
						<div><label><input type="radio" name="editMode" value="html" /> HTML</label></div>
						<div class="pickles2-theme-editor__error-message"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
