<form action="javascript:;" method="post">
	<div class="px2-p">
		<table class="px2-table" style="width:100%;">
			<tbody>
				<tr data-form-column-name="themeId">
					<th>テーマID</th>
					<td>
						<div><input type="text" name="themeId" value="{{ themeId | e}}" class="form-control" /></div>
						<div class="cont-error-message"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	{% if not themeId %}
		<div class="px2-p">
			<h2>インポート</h2>
			<ul>
				<li><label><input type="radio" name="import_from" value="" checked="checked" /> インポートしない</label></li>
			</ul>
			<h3>テーマコレクション</h3>
			<ul>
			{% for themeCollectionRow in themeCollection %}
				<li><label><input type="radio" name="import_from" value="themeCollection:{{ themeCollectionRow.id | e }}" /> {{ themeCollectionRow.name | e }}</label></li>
			{% endfor %}
			</ul>
			<h3>テーマパッケージ</h3>
			<ul>
			{% for themePluginListRow in themePluginList %}
				<li><label><input type="radio" name="import_from" value="themePlugin:{{ loop.index | e }}" /> {{ themePluginListRow.name | e }}</label></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}

</form>
