<div class="pickles2-theme-editor__container">

	<h2>テーマコレクション</h2>
	{% if themeCollection.length %}
		<ul class="pickles2-theme-editor__listview pickles2-theme-editor__theme-collection-list">
		{% for themeRow in themeCollection %}
			<li><a href="javascript:;" data-theme-id="{{ themeRow.id | e }}">
				<div class="pickles2-theme-editor__theme-collection-list__unit">
					<div class="pickles2-theme-editor__theme-collection-list__unit-thumb">
						<img src="{{ themeRow.thumb | e }}" alt="" />
					</div>
					<div class="pickles2-theme-editor__theme-collection-list__unit-body">
						<p>
							{{ themeRow.id | e }}
							{% if default_theme_id == themeRow.id %} <span class="pickles2-theme-editor__selected">適用中</span>{% endif %}
						</p>
					</div>
				</div>
			</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>テーマを作成してください。</p>
	{% endif %}

	<p class="px2-text-align-right">
		<button class="px2-btn px2-btn--primary" data-pickles2-theme-editor-action="addNewTheme">新規テーマ作成</button>
	</p>

	{% if can_openInFinder or can_openInTextEditor %}
	<div class="px2-horizontal-list">
		<ul>
			{% if can_openInFinder %}<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="openInFinder">テーマコレクションフォルダを開く</a></li>{% endif %}
			{% if can_openInTextEditor %}<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="openInTextEditor">外部テキストエディタで開く</a></li>{% endif %}
		</ul>
	</div>
	{% endif %}
</div>
