<div class="container">
	<div class="btn-group btn-group-justified" role="group">
		<div class="btn-group" role="group">
			<button class="px2-btn" onclick="contApp.openInFinder();">テーマコレクションフォルダを開く</button>
		</div>
		<div class="btn-group" role="group">
			<button class="px2-btn" onclick="contApp.openInTextEditor();">外部テキストエディタで開く</button>
		</div>
	</div>

	<h2>テーマコレクション</h2>
	{% if themeCollection.length %}
		<ul class="listview cont-theme-list">
		{% for themeRow in themeCollection %}
			<li><a href="javascript:;" data-theme-id="{{ themeRow.id }}">
				<div class="cont-theme-list__unit">
					<div class="cont-theme-list__unit-thumb">
						<img src="{{ themeRow.thumb }}" alt="" />
					</div>
					<div class="cont-theme-list__unit-body">
						<p>
							{{ themeRow.id }}
							{% if default_theme_id == themeRow.id %} <span style="color: #da0;">★</span>{% endif %}
						</p>
					</div>
				</div>
			</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>テーマを作成してください。</p>
	{% endif %}

	<p class="text-right">
		<button class="px2-btn px2-btn--primary" onclick="contApp.addNewTheme();return false;">新規テーマ作成</button>
	</p>

</div>
