<div class="pickles2-theme-editor__container">

	<div class="px2-horizontal-list">
		<ul>
			<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="pageHome">テーマコレクションへ戻る</a></li>
		</ul>
	</div>

	<h2>テーマ "{{ themeId | e }}"</h2>



{% if is_startup %}
	<div class="pickles2-theme-editor__startup"></div>

{% else %}

	<div class="pickles2-theme-editor__set-default px2-p{% if default_theme_id == themeId %} pickles2-theme-editor__set-default--is-default{% endif %}">
		{% if default_theme_id == themeId %}
			<p>このテーマを適用しています。</p>
		{% else %}
			<p><button class="px2-btn px2-btn--primary" data-pickles2-theme-editor-action="setDefaultTheme" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;}">このテーマを適用する</button></p>
		{% endif %}
	</div>

	{% if readme %}
	<div class="pickles2-theme-editor__readme">
		<article>{{ readme }}</article>
	</div>
	{% endif %}

	<h2>レイアウト</h2>
	{% if layouts | length %}
		<ul class="pickles2-theme-editor__listview pickles2-theme-editor__layout-list">
		{% for layout in layouts %}
			<li><a href="javascript:;" data-pickles2-theme-editor-action="openEditor" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;,&quot;layoutId&quot;:&quot;{{ layout.id | e }}&quot;}">
				{{ layout.id | e }}
				<span class="px2-editor-type px2-editor-type--{{ layout.editMode == 'html.gui' ? 'html-gui' : layout.editMode }}"></span>

				<ul class="pickles2-theme-editor__layout-menu">
					<li><button class="px2-btn px2-btn--primary" data-pickles2-theme-editor-action="openEditor" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;,&quot;layoutId&quot;:&quot;{{ layout.id | e }}&quot;}">編集する</button></li>
					<li><button class="px2-btn" data-pickles2-theme-editor-action="renameLayout" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;,&quot;layoutId&quot;:&quot;{{ layout.id | e }}&quot;}">リネームする</button></li>
					<li><button class="px2-btn" data-pickles2-theme-editor-action="changeEditModeLayout" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;,&quot;layoutId&quot;:&quot;{{ layout.id | e }}&quot;,&quot;editMode&quot;:&quot;{{ layout.editMode | e }}&quot;}">編集方法を変更する</button></li>
					<li><button class="px2-btn px2-btn--danger" data-pickles2-theme-editor-action="deleteLayout" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;,&quot;layoutId&quot;:&quot;{{ layout.id | e }}&quot;}">削除する</button></li>
				</ul>
			</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>レイアウトを作成してください。</p>
	{% endif %}
	<p class="px2-text-align-right">
		<button class="px2-btn px2-btn--primary" data-pickles2-theme-editor-action="addNewLayout" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;}">新規レイアウト作成</button>
	</p>

	<hr />

	<div class="px2-horizontal-list">
		<ul>
			{% if can_openInFinder %}<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="openInFinder" data-pickles2-theme-editor-options="{&quot;path&quot;:&quot;/{{ themeId | e }}/&quot;}">{{ themeId | e }} フォルダを開く</a></li>{% endif %}
			{% if can_openInFinder %}<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="openInFinder" data-pickles2-theme-editor-options="{&quot;path&quot;:&quot;/{{ themeId | e }}/theme_files/&quot;}">リソースフォルダを開く</a></li>{% endif %}
			{% if can_openInTextEditor %}<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="openInTextEditor" data-pickles2-theme-editor-options="{&quot;path&quot;:&quot;/{{ themeId | e }}/&quot;}">外部テキストエディタで開く</a></li>{% endif %}
			<li><a href="javascript:;" class="px2-a" data-pickles2-theme-editor-action="renameTheme" data-pickles2-theme-editor-options="{&quot;themeId&quot;:&quot;{{ themeId | e }}&quot;}">テーマIDを変更する</a></li>
		</ul>
	</div>

{% endif %}


	<div class="pickles2-theme-editor__footer-menu">
		<div>
			<div><button class="px2-btn" data-pickles2-theme-editor-action="pageHome">テーマコレクションへ戻る</button></div>
			<div><button class="px2-btn px2-btn--danger" data-pickles2-theme-editor-action="deleteTheme" data-pickles2-theme-editor-options="{&quot;themeId&quot;: &quot;{{ themeId | e }}&quot;}">このテーマを削除する</button></div>
		</div>
	</div>

</div>
