<div class="container">
	<h2>テーマ "{{ themeId | e }}"</h2>
	<div class="btn-group btn-group-justified" role="group">
		<div class="btn-group" role="group">
			<button class="px2-btn" data-pickles2-theme-editor-action="openInFinder" data-pickles2-theme-editor-options="{&amp;path&amp;:&amp;/{{ themeId | e }}/&amp;}">{{ themeId | e }} フォルダを開く</button>
		</div>
		<div class="btn-group" role="group">
			<button class="px2-btn" data-pickles2-theme-editor-action="openInFinder" data-pickles2-theme-editor-options="{&amp;path&amp;:&amp;/{{ themeId | e }}/theme_files/&amp;}">リソースフォルダを開く</button>
		</div>
		<div class="btn-group" role="group">
			<button class="px2-btn" data-pickles2-theme-editor-action="openInTextEditor" data-pickles2-theme-editor-options="{&amp;path&amp;:&amp;/{{ themeId | e }}/&amp;}">外部テキストエディタで開く</button>
		</div>
		<div class="btn-group" role="group">
			<button class="px2-btn" onclick="contApp.renameTheme('{{ themeId | e }}');return false;">テーマIDを変更する</button>
		</div>
	</div>

	<div class="cont-theme-home-set-default px2-p{% if default_theme_id == themeId %} cont-theme-home-set-default--is-default{% endif %}">
		{% if default_theme_id == themeId %}
			<p>このテーマを採用しています。</p>
		{% else %}
			<p><button class="px2-btn px2-btn--primary cont-theme-home-set-default__btn-set-default">このテーマを採用する</button></p>
		{% endif %}
	</div>

	<div class="cont-theme-home-readme px2-p">
		<div class="cont-theme-home-readme__thumb">
			<img src="{{ thumb | e }}" alt="" />
		</div>
		<div class="cont-theme-home-readme__readme">
			<article>{{ readme }}</article>
		</div>
	</div>

	<h2>レイアウト</h2>
	{% if layouts | length %}
		<ul class="cont-layout-list listview">
		{% for layout in layouts %}
			<li><a href="javascript:;" data-theme-id="{{ themeId | e }}" data-layout-id="{{ layout.id | e }}" onclick="contApp.openEditor($(this).attr('data-theme-id'), $(this).attr('data-layout-id'));return false;">
				{{ layout.id | e }}
				<span class="px2-editor-type px2-editor-type--{{ layout.editMode == 'html.gui' ? 'html-gui' : layout.editMode }}"></span>

				<ul class="cont-layout-menu">
					<li><button class="px2-btn px2-btn--primary" data-theme-id="{{ themeId | e }}" data-layout-id="{{ layout.id | e }}" onclick="contApp.openEditor($(this).attr('data-theme-id'), $(this).attr('data-layout-id'));return false;">編集する</button></li>
					<li><button class="px2-btn" data-theme-id="{{ themeId | e }}" data-layout-id="{{ layout.id | e }}" onclick="contApp.renameLayout($(this).attr('data-theme-id'), $(this).attr('data-layout-id'));return false;">リネームする</button></li>
					<li><button class="px2-btn px2-btn--danger" data-theme-id="{{ themeId | e }}" data-layout-id="{{ layout.id | e }}" onclick="contApp.deleteLayout($(this).attr('data-theme-id'), $(this).attr('data-layout-id'));return false;">削除する</button></li>
				</ul>
			</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>レイアウトを作成してください。</p>
	{% endif %}
	<p class="text-right">
		<button class="px2-btn px2-btn--primary" onclick="contApp.addNewLayout('{{ themeId | e }}');return false;">新規レイアウト作成</button>
	</p>

	<hr />

	<div class="cont-footer-menu">
		<div>
			<div><button class="px2-btn" data-pickles2-theme-editor-action="pageHome">テーマコレクションへ戻る</button></div>
			<div><button class="px2-btn px2-btn--danger" data-pickles2-theme-editor-action="deleteTheme" data-pickles2-theme-editor-options="{&quot;themeId&quot;: &quot;{{ themeId | e }}&quot;}">テーマを削除する</button></div>
		</div>
	</div>
</div>
