<nav class="theme-common-navi">
{% if _ENV.mode == 'canvas' %}

<p><a href="javascript:;">{{ _ENV.extra.categoryTop.title_label }}</a></p>
{% if _ENV.extra.categorySubMenu %}
<ul>
{% for pageInfo in _ENV.extra.categorySubMenu %}
	<li><a href="{{ pageInfo.path }}">{{ pageInfo.title_label }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% elseif _ENV.mode == 'finalize' %}
<?php
	$category_top_id = $px->site()->get_category_top();
?>
	<p><a href="<?= htmlspecialchars( $px->href($category_top_id) ?? '' ) ?>"><?= htmlspecialchars($px->site()->get_page_info($category_top_id, 'title_label') ?? '') ?></a></p>
<?= $theme->mk_sub_menu( $category_top_id ) ?>
{% endif %}
</nav>
