{% if _ENV.mode == 'canvas' %}
<div class="theme-breadcrumb">
	<ul>
		{% for pageInfo in _ENV.extra.breadcrumb %}
			<li><a href="{{ pageInfo.path }}">{{ pageInfo.title_label }}</a></li>
		{% endfor %}
		<li><span>{{ _ENV.extra.pageInfo.title_label }}</span></li>
	</ul>
</div>
{% endif %}
{% if _ENV.mode == 'finalize' %}
<div class="theme-breadcrumb"><?= $theme->mk_breadcrumb() ?></div>
{% endif %}
