:root {
    --px2-main-color: #229;
    --px2-text-color: #333;
    --px2-background-color: #f3f3f3;
}
body{
    font-size: small;
    background-color: #f9f9f9;
}
body.px2-darkmode{
    background-color: #0d0d0d;
    color: #ccc;
}
