<form action="javascript:;" method="post" data-pickles2-theme-editor-form="startup">
	<input type="hidden" name="theme_id" value="{{ themeId | e }}" />

	<p>テーマの初期状態を構築します。</p>


	<div class="px2-form-input-list">
		<ul class="px2-form-input-list__ul">
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="logo_image">テンプレート</label></div>
				<div class="px2-form-input-list__input">
					<input type="hidden" name="template_id" value="template_001" />
					<div class="pickles2-theme-editor__startup-thumb"></div>
				</div>
			</li>
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="logo_image">ロゴ</label></div>
				<div class="px2-form-input-list__input">
					<input type="file" id="logo_image" name="logo_image" value="" class="px2-input" />
					<div class="pickles2-theme-editor__logo-image-preview">
						<img src="about:blank" alt="" />
					</div>
				</div>
			</li>
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="main_color">メインカラー</label></div>
				<div class="px2-form-input-list__input"><input type="color" id="main_color" name="main_color" value="#2ea8e5" class="px2-input" /></div>
			</li>
			<li class="px2-form-input-list__li">
				<div class="px2-form-input-list__label"><label for="sub_color">サブカラー</label></div>
				<div class="px2-form-input-list__input"><input type="color" id="sub_color" name="sub_color" value="#2ea8e5" class="px2-input" /></div>
			</li>
		</ul>
	</div>


	<div class="px2-p px2-text-align-center">
		<p><button type="submit" class="px2-btn px2-btn--primary">この設定でテーマを生成する</button></p>
	</div>
</form>
