.pickles2-theme-editor__thumb-template_001 {
	color: #333;
	a {
		color: #00a0e6;
	}

	&__header {
		padding: 3px 5px 0 5px;
		background-color: #00a0e6;
		color: #fff;
		p {
			float: left;
			margin: 0;
			img {
				height: 12px;
			}
		}
	}
	&__gmenu {
		display: flex;
		float: none;
		clear: both;
		div {
			height: 8px;
			width: 21px;
			background-color: #f5f5ff;
			margin: 2px 3px 0 3px;
		}
	}
	&__middle {
		display: flex;
		&-main {
			width: 70%;
			padding: 3px;
		}
		&-sidebar {
			width: 30%;
			padding: 3px;
		}
	}
	&__sidebarmenu {
		div {
			height: 8px;
			width: auto;
			background-color: #eee;
			margin: 1px 0 0 0;
		}
	}
	&__autoindex {
		margin: 2px 5%;
		border: 0.1px solid #bbb;
		padding: 3px;
		background: rgba(124, 124, 124, 0.05);
		border-radius: 2px;
		height: 12px;
	}
	&__title {
		font-size: 160%;
		font-weight: bold;
	}
	&__h1 {
		font-size: 160%;
		font-weight: bold;
	}
	&__h2 {
		font-size: 120%;
		font-weight: bold;
	}
}
