@import "../../../env";

/**
 * ハンバーガーメニュー
 */
.theme-hamburger-menu {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	@media all and (max-width: 740px) {
		display: block;
	}

	&__open-btn {
		button {
			width: 33px;
			height: 33px;
			position: fixed;
			top: 10px;
			right: 10px;
			border: 1px solid #999;
			padding: 0;
			overflow: hidden;
			box-sizing: border-box;
			&::before {
				content: "";
			}
			&::after {
				content: "";
			}
			span,
			&::after,
			&::before {
				display: block;
				border-top: 1px solid #999;
				position: absolute;
				width: calc(70%);
				top: calc(50%);
				left: calc(15%);
				box-sizing: border-box;
				text-indent: -9999px;
			}
			&::after {
				top: calc(27%);
			}
			&::before {
				top: calc(73%);
			}
		}
	}
	&__body {
		display: none;
		background-color: #0004;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		color: #fff;

		@keyframes theme-hamburger-menu--menu-open {
			0% {
				transform: translateX(100px);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
		@keyframes theme-hamburger-menu--menu-close {
			0% {
				transform: translateX(100px);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}

		&--visible {
			display: flex;
			.theme-hamburger-menu__body-inner {
				animation: theme-hamburger-menu--menu-open .3s ease 0s 1 normal forwards running;
			}
		}
		&--closed {
			display: flex;
			.theme-hamburger-menu__body-inner {
				animation: theme-hamburger-menu--menu-close .3s ease 0s 1 reverse forwards running;
			}
		}
	}
	&__body-inner {
		background-color: #eee;
		color: #333;
		padding: 40px 20px 20px 20px;
		margin-left: 10px;
		overflow: auto;
		flex-grow: 10;
	}

	&__close-btn {
		text-align: right;
		position: fixed;
		right: 10px;
		top: 10px;
		button {

		}
	}

	&__mega-menu {
		ul {
			padding: 0;
			margin: 0;
			li {
				padding: 0 0 1px 0;
				margin: 0;
				list-style-type: none;
				a {
					display: block;
					padding: 10px 10px;
					&:hover {
						background-color: #ddd;
					}
				}
				li {
					a {
						padding-left: 30px;
					}
					li {
						a {
							padding-left: 60px;
						}
						li {
							a {
								padding-left: 90px;
							}
						}
					}
				}
			}
		}
	}

	&__shoulder-menu {
		margin: 1em 0;

		ul {
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: center;
			gap: 10px;
			li {
				padding: 0;
				margin: 0;
				list-style-type: none;
				a {
					display: block;
					padding: 10px 20px;
					&:hover {
						background-color: #ddd;
					}
				}
			}
		}
	}
}

// ハンバーガーメニュー表示中のスクロールロック
body.theme-scroll-lock {
    overflow: hidden;
}
body.theme-scroll-lock--iphone {
    position: fixed;
    width: 100%;
    height: 100%;
}
