.pickles2-theme-editor__startup {
    &-thumb {
        display: flex;

        > a {
            display: block;
            border: 2px solid #d9d9d9;
            border-radius: 3px;
            background-color: #fff;
            position: relative;
            width: 180px;
            height: 120px;
            overflow: hidden;
            font-size: 8px;
            color: #000;
            text-decoration: none;
            img {
                max-width: 100%;
            }
        }
    }
    .pickles2-theme-editor__logo-image-preview {
        img {
            max-width: 82%;
        }
    }
}
