.pickles2-theme-editor__startup {
	&-thumb {
		&-item {
			> a {
				border-color: #464646;
				background-color: #fff;

				&.pickles2-theme-editor__startup-thumb-current {
					border-color: #58d;
				}
			}

		}
	}

	&__badge-broccoli {
		background-color: #ddd;
		color: #333;
	}
}
