$keycolor: #000;
$textcolor_on_keycolor: #eee;
$subcolor: #666;
$textcolor_on_subcolor: #eee;

:root {
    --theme-keycolor: #000;
    --theme-textcolor-on-keycolor: #eee;
    --theme-subcolor: #666;
    --theme-textcolor-on-subcolor: #eee;
}
