{% if _ENV.mode == 'canvas' %}
{% if _ENV.extra.shoulderMenu %}
<ul>
{% for pageInfo in _ENV.extra.shoulderMenu %}
	<li><a href="{{ pageInfo.path }}">{{ pageInfo.title_label }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% elseif _ENV.mode == 'finalize' %}
<?php
	$shoulder_menu = $px->site()->get_shoulder_menu();
	if( is_array($shoulder_menu) && count($shoulder_menu) ){
		echo( '<ul>' );
		foreach( $shoulder_menu as $page_id ){
			echo( '<li>'.$px->mk_link( $page_id ).'</li>' );
		}
		echo( '</ul>' );
	}
?>
{% endif %}
