// Pickles2: Theme Editor
@charset "utf-8";
.pickles2-theme-editor {

	// px2style
	@import '../node_modules/px2style/dist/px2style';

	overflow: auto;
	display: flex;

	// startup
	@import './apis/startup/startup.ignore.css.scss';

	// colorpicker library "Pickr" style.
	@import '../node_modules/@simonwep/pickr/dist/themes/classic.min';
}

.pickles2-theme-editor {

	&__container {
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}


	// button.px2-btn{
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	white-space: nowrap;
	// }

	&__theme-collection-list{
		&__unit{
			display: flex;
			&-thumb{
				width: 60px;
				max-width: 100%;
				margin-right: 20px;
				img{
					width: 60px;
					height: 60px;
				}
			}
			&-body{
				display: flex;
				align-items: center;
			}
		}
	}

	&__layout-menu{
		border: none;
		display: block;
		li{
			display: inline-block;
			border: none;
			padding: 1px 2px;
			button{
				font-size: small;
				padding: 0.2em 1em;
			}
		}
	}

	&__readme{
		margin: 1em 0;

		&__thumb{
			float: left;
			margin: 0 20px 20px 0;
			width: 220px;
			max-width: 100%;
			img{
				width: 100%;
			}
			@media all and (max-width:580px){
				width: 100px;
			}
		}
		&__readme{
			margin-left: 240px;
			@media all and (max-width:580px){
				margin-left: 120px;
			}
		}
		&:after{
			content:" ";
			display:block;
			clear:both;
		}
	}

	&__set-default{
		border: 1px solid #ffeeba;
		background-color: #fff3cd;
		color: #856404;
		padding: 1rem;
		text-align: center;
		border-radius: 5px;
		width: 80%;
		margin: 1em auto;
		&--is-default{
			border: 1px solid #c3e6cb;
			background-color: #d4edda;
			color: #155724;
		}
		p{
			margin: 0;
		}
	}

	&__footer-menu {
		> div {
			text-align: center;
			margin: 2em 0;
			display: flex;
			justify-content: space-between;
			align-content: center;
		}
		@media all and (max-width:680px){
			> div {
				display: block;
				margin: 0;
				> div {
					margin: 2em 0;
				}
			}
		}
	}

	/**
	 * リストビュー
	 */
	&__listview{
		border: 1px solid #999;
		border-radius: 5px;
		padding: 0;
		overflow:hidden;
		box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

		li{
			border-bottom: 1px solid #999;
			list-style-type: none;
			margin:0; padding: 0;
			&:last-child{
				border: none;
			}
			>a{
				display: block;
				text-decoration: none;
				padding: 0.3em 1.5em;
				background-color: #fefefe;
				&:hover{
					background-color: #f9f9f9;
				}
				&.current{
					font-weight: bold;
					background-color: #00a0e6;
					color: #fff;
				}
			}

			ul{
				padding: 0;
				margin: 0;
				border-top: 1px dotted #ddd;
				li{
					border-bottom: 1px dotted #ddd;
					>a{
						padding-left: 2.5em;
					}
				}
			}
		}
	}

	&__selected {
		display: inline-block;
		padding: 2px 5px;
		background-color: rgb(243, 166, 140);
		color: #fff;
		font-size: 11px;
	}

}

// Darkmode
.px2-darkmode {
	// px2style/darkmode
	@import '../node_modules/px2style/src/themes/darkmode/_darkmode.css.scss';

	// px2te
	@import './themes/darkmode/_darkmode.css.scss';
}