// Pickles2: Theme Editor
@charset "utf-8";
.pickles2-theme-editor {

    // px2style
    @import '../node_modules/px2style/dist/px2style';

    background-color: #eee;
    height: 300px;
    overflow: auto;
    display: flex;
}
